<html>

<head>
    <meta charset="UTF-8">
    <title>Cadastro</title>
    {% load staticfiles %}
      <link rel="stylesheet" type="text/css" href="{% static 'css/cuscss.css' %}">
</head>

<body>

    <div id="box-logon">
        <p class="logon-text">Não é cadastrado?<br>Demora apenas 2 minutos</p>
        <form action="" class="formlogon">
            <br><br><br><br>
            <label class="label">Nome</label><br><input type="text" id="nome"><br>
            <label class="label">Email</label><br><input type="text" id="email"><br>
            <label class="label">CPF</label><br><input type="text" id="cpf"><br><br>
            <label class="label">Nome de usuário</label><br><input type="text" id="nome_user"><br>
            <label class="label">Senha</label><br><input type="password" id="senha"><br><br>
            <button class="button-action" type="button">Enviar</button>
        </form>
    </div>

    <div id="box-login">
        <p class="login-text">Se já é cadastrado...<br>... faça o seu login</p>
        <form action="" class="formlogin">
            <br><br><br><br>
            <label class="label">Login</label><br><input type="text" id="login"><br>
            <label class="label">Senha</label><br><input type="password" id="senha_login"><br><br>
            <button class="button-action" type="button">Enviar</button>
        </form>
    </div>

</body>

</html>
