{% extends 'website/base.html' %}
{% block title %}HOME{% endblock %}
{% load staticfiles %}
{% block content %}

<div class=" jumbotron row">
  <div class=" col-md-offset-1 well col-md-4 col-xs-12">
    <div class="page-title">
      <div class="title_left">
        <h4 class="text-center">CONSULTA DE PASSAGENS</h4>
      </div>
    </div>

    <form class=" form-horizontal" method="get" action="../sresults/">
      <div class=" well row form-horizontal">
        <div class="col-md-6  ">
          <label for="Origem" class="control-label text-center">&nbsp;Origem </label>
          <select name="f" class="select2_single form-control">
            {% for city in city %}
            <option value="{{ city.id }}">{{ city.name }}</option>
            {% endfor %}
          </select>
        </div>
        <div class=" col-md-6 ">
          <label for="Destino" class="control-label text-center">&nbsp;Destino </label>
          <select name="q" class="select2_single form-control">
            {% for city in city %}
            <option value="{{ city.id }}">{{ city.name }}</option>
            {% endfor %}
          </select>
        </div>

        <div class=" col-md-6">
          <label for="ida" class="control-label ">&nbsp;Ida: </label><br>
          <input type="date" name="ida">
        </div>
        <div class=" col-md-6">
          <label for="Destino" class="control-label ">&nbsp;Chegada: </label>
          <input type="date" name="chegada">
        </div>
      </div>
      <hr>
      <div class="row">
        <div class=" col-md-offset-4 col-sm-2"><button class="btn btn-warning"><input type="submit" class="hide" name="clear" "/><a href="#"  class=" btn-warning" role="button">Cancelar </a></button></div>
        <div class=" col-sm-2"><button class="btn btn-success"><input type="submit" class="hide" name="send" value="search/><a href="#"  class=" btn-success" role="button">Enviar </a></button></div>
      </div>
    </form>
  </div>
  <div class="well  col-md-offset-1 col-md-4 col-xs-12">
    <h4 class="text-center">PROMOÇÕES</h4>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img src="{% static 'images/promo1.jpg' %}" alt="Chania">
        </div>

        <div class="item">
          <img src="{% static 'images/promo2.png' %}" alt="Chania">
        </div>

        <div class="item">
          <img src="{% static 'images/promo3.png' %}" alt="Flower">
        </div>

      </div>

      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>

<div class="row">
  <h1 class="text-center">Voos em Destaque</h1>
  <div class="col-md-4"></div>
  <a href="/flight/{{flight.id}}">
    <div class="  col-md-4 well">
      <h3> Flight From: {{ flight.id_origem.name }}</h3>
      <h3>To {{ flight.id_destino.name }}</h3>
      <h4>For only P${{ flight.preco }}</h4>
      <p>{{flight.id_com_aerea.name}}</p>
      <p>Flight Number: {{ flight.id }}</p>
      <p>Departure: {{ flight.data_decolagem }}</p>
      <p>Arrival: {{ flight.data_pouso }}</p>
    </div>
  </a>
</div>
{% endblock %}
