{% extends 'website/base.html' %}
{% block title %}HOME{% endblock %}
{% load staticfiles %}
{% block content %}
<div class=" jumbotron row">
    <div class=" col-md-offset-1 well col-md-4 col-xs-12">
        <h4 class="text-center">CONSULTA DE PASSAGENS</h4>
        <form class=" form-horizontal" method="post" action="cadastrar-enquete.php">
            <div class=" well row form-horizontal">
                <div class="col-md-6  ">
                    <label for="Origem" class="control-label text-center">&nbsp;Origem: </label>
                    <select name="Origem">
                      <option value="MTP">Metropolis</option>
                      <option value="LVT">Lavander Town</option>
                      <option value="ISS">International Space Station</option>
                      <option value="GTH">Gothan City</option>
                      <option value="BSB">Brasilia</option>
                      <option value="ATL">Atlantis</option>
                    </select>
                </div>
                <div class=" col-md-6 ">
                    <label for="Destino" class="control-label text-center">&nbsp;Destino: </label>
                    <select name="Destino">
<option value="MTP">Metropolis</option>
<option value="LVT">Lavander Town</option>
<option value="ISS">International Space Station</option>
<option value="GTH">Gothan City</option>
<option value="BSB">Brasilia</option>
<option value="ATL">Atlantis</option>
</select>
                </div>
            </div>
            <div class=" well form-group">
                <div class=" col-md-6">
                    <label for="ida" class="control-label ">&nbsp;Ida: </label><br>
                    <input type="date" name="ida">
                </div>
                <div class=" col-md-6">
                    <label for="Destino" class="control-label ">&nbsp;Chegada: </label>
                    <input type="date" name="chegada">
                </div>
            </div>
            <div class="row">
                <div class=" col-md-offset-4 col-sm-2"><button class="btn btn-danger"><input type="submit" class="hide" name="send"/><a href="#"  class=" btn-danger" role="button">Enviar </a></button></div>
                <div class=" col-sm-2"><button class="btn btn-danger"><input type="submit" class="hide" name="clear"/><a href="#"  class=" btn-danger" role="button">Cancelar </a></button></div>
            </div>

        </form>
    </div>
    <div class="well  col-md-offset-1 col-md-4 col-xs-12">
        <h4 class="text-center">PROMOÇÕES</h4>
          <div class="w3-content w3-display-container" style="max-width:300px">
            <img class="mySlides" src="{% static 'images/promo1.jpg' %}" style="width:100%">
            <img class="mySlides" src="{% static 'images/promo2.png' %}" style="width:100%">
            <img class="mySlides" src="{% static 'images/promo3.png' %}" style="width:100%">
            <div class="w3-center w3-section w3-large w3-text-white w3-display-bottomleft" style="width:100%">
              <div class="w3-left w3-padding-left w3-hover-text-khaki" onclick="plusDivs(-1)">&#10094;</div>
              <div class="w3-right w3-padding-right w3-hover-text-khaki" onclick="plusDivs(1)">&#10095;</div>
              <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(1)"></span>
              <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(2)"></span>
              <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(3)"></span>
            </div>
          </div>

          <script>
          var slideIndex = 1;
          showDivs(slideIndex);

          function plusDivs(n) {
            showDivs(slideIndex += n);
          }

          function currentDiv(n) {
            showDivs(slideIndex = n);
          }

          function showDivs(n) {
            var i;
            var x = document.getElementsByClassName("mySlides");
            var dots = document.getElementsByClassName("demo");
            if (n > x.length) {slideIndex = 1}
            if (n < 1) {slideIndex = x.length}
            for (i = 0; i < x.length; i++) {
               x[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
               dots[i].className = dots[i].className.replace(" w3-white", "");
            }
            x[slideIndex-1].style.display = "block";
            dots[slideIndex-1].className += " w3-white";
          }
          </script>
    </div>
</div>

<div class="row">
<h1 class="text-center">Voos em Destaque</h1>
<div class="col-md-4"></div>
<a href="/flight/{{flight.id}}">
  <div class="  col-md-4 well">
      <h3> Flight From: {{ flight.id_origem.name }}</h3>
      <h3>To {{ flight.id_destino.name }}</h3>
      <h4>For only P${{ flight.preco }}</h4>
      <p>{{flight.id_com_aerea.name}}</p>
      <p>Flight Number: {{ flight.id }}</p>
      <p>Departure: {{ flight.data_decolagem }}</p>
      <p>Arrival: {{ flight.data_pouso }}</p>

  </div>
  </a>
</div>
<hr>


{% endblock %}
