 {% extends 'website/base.html' %} {% block title %}{{ page.title }}{% endblock %} {% block content %}


<div class="jumbotron">
    <br> {% for flightT in flightT %} {% for flightF in flightF%}
    <div class="well">


        <div class="col-md-6">
            <h3>{{flightF.id_com_aerea.name}}</h3>
            <a href="/flightF/{{flightF.id}}"><h4>flightF Number: {{ flightF.id }}</h4></a>
            <h5>  {{ flightF.id_origem.name }} - {{ flightF.id_destino.name }}</h5>
            <p>Departure: {{ flightF.data_decolagem }}</p>
            <p>Arrival: {{ flightF.data_pouso }}</p>
            <p>Price: P${{ flightF.preco }}</p>
        </div>
        <div class="col-md-6">
            <h3>{{flightT.id_com_aerea.name}}</h3>
            <a href="/flightT/{{flightT.id}}"><h4>flightT Number: {{ flightT.id }}</h4></a>
            <h5>  {{ flightT.id_origem.name }} - {{ flightT.id_destino.name }}</h5>
            <p>Departure: {{ flightT.data_decolagem }}</p>
            <p>Arrival: {{ flightT.data_pouso }}</p>
            <p>Price: P${{ flightT.preco }}</p>
        </div>
    </div>

    {% endfor %} {% endfor %}
</div>
<br> {% endblock %}