<body>
  <h1>Este é um texto GRANDE ! Tipo um título</h1>
  <h2>Esse é um pouco menor, e vai descendo até o h6 </h2>
  <p>
    Esse é um parágrafo de texto. Como você pode ver, cada 'TAG' html tem a abertura e o fechamento.
    É assim que HTML é estruturado. São tags que indicam o que há no meio.
    Algumas poucas não fecham, pois são divisórias ou pula-linha como a proxima)
  </p>
<br>
<div class="jumbotron">
  <p>
    Essa div é um bloco. E como você pode ver, tem um atributo class na abertura. Todas as tags podem aceitar atrbutos como esse, e no caso do Class, pode ser algo que você criou com CSS que vai alterar a aparência.
    Também pode ser substituida por Style caso você queria escrever o CSS junto com o HTML.
  </p>
  <a href="site.com/pagina_destino"> Isso é um Link !</a>
</div>
</body>
