{% block title %}{{ page.title }}{% endblock %}
{% extends 'website/base.html' %}
{% block content %}
<div class=" jumbotron">


{% for flight in flight %}
    <div class="well">
      <br>
      <a href="/flight/{{flight.id}}"><h4>Flight Number: {{ flight.id }}</h4></a>
        <h3>Company: {{flight.id_com_aerea.name}}</h3>
        <p>Flight From {{ flight.id_origem.name }} To {{ flight.id_destino.name }}</p>
        <p>Departure: {{ flight.data_decolagem }}</p>
        <p>Arrival: {{ flight.data_pouso }}</p>
        <p>Price: P${{ flight.preco }}</p>
    </div>
{% endfor %}
</div>
{% endblock %}
