{% block title %}{{ page.title }}{% endblock %}
{% extends 'website/base.html' %}
{% block content %}

    <div class="jumbotron">
      <br>
      <h3>{{flight.id_com_aerea.name}}</h3>
      <a href="/flight/{{flight.id}}"><h4>Flight Number: {{ flight.id }}</h4></a>
      <h5>  {{ flight.id_origem.name }} - {{ flight.id_destino.name }}</h5>
        <p>Departure: {{ flight.data_decolagem }}</p>
        <p>Arrival: {{ flight.data_pouso }}</p>
        <p>Price: P${{ flight.preco }}</p>
    </div>

{% endblock %}
