
{% extends 'website/base.html' %}
{% block content %}
<div class=" jumbotron">


{% for flight in flight %}
    <div class="well">
      <br>
        <h3>Flight Number: {{ flight.id }}</h3>
        <h4>Company: {{flight.id_com_aerea.name}}</h4>
        <p>Flight From: {{ flight.id_origem.name }}</p>
        <p>Flight To: {{ flight.id_destino.name }}</p>
        <p>Departure:{{ flight.data_decolagem }}</p>
        <p>Arrival:{{ flight.data_pouso }}</p>
        <p>Price: U$ {{ flight.preco }}</p>
    </div>
{% endfor %}
</div>
{% endblock %}
